{% extends 'baseTemplate.html' %}
{% load static %}
{% block content %}

<div class="container-fluid" style="justify-content: center;">
    <p style="text-align: center;">Gonna put a search bar here soon :)</p>
</div>


<div class="grid-container">
    
    {% for item in pageObj %}
        <div class="tile">
            
            <div class="image-grid">
                <img src="{% static 'exercises/' %}{{ item.id }}/0.jpg" alt="{{ item.name }} images">
                <img src="{% static 'exercises/' %}{{ item.id }}/1.jpg" alt="{{ item.name }} images">
            </div>

            <h2 style="color: white;">{{ item.name }}</h2>
            <h3 style="color: white;">Primarily targets: {{ item.primaryMuscles }}</h3>
            <p style="color: white;">{{ item.instructions }}</p>

            <!-- Link to the add_to_routine page -->
            <a href="{% url 'add_to_routine' %}?exercise_name={{ item.name }}&primaryMuscles={{ item.primaryMuscles }}&instructions={{ item.instructions }}&images={{ item.images }}" 
               class="btn btn-primary" 
               style="margin-top: 10px;">
                Add to Routine
            </a>
            
        </div>
    {% endfor %}

    <div class="pagination">
        {% if pageObj.has_previous %}
            <a class="btn" style="border-color: black;" href="?page={{ pageObj.previous_page_number }}">Previous</a>
        {% endif %}
    
        <span style="padding-inline: 5px;">Page {{ pageObj.number }} of {{ pageObj.paginator.num_pages }}</span>
    
        {% if pageObj.has_next %}
            <a class="btn" style="border-color: black;" href="?page={{ pageObj.next_page_number }}">Next</a>
        {% endif %}
    </div>
    

</div>
{% endblock %}

